{% extends "website/main.html" %}
{% load static %}

{% block css %}
<style>
#poky-logo
{
    margin:auto;
    text-align:center;
}
</style>
{% endblock %}

{% block content %}
<div id="poky-logo"><img src="{% static 'global/pokyfriends-logo.png' %}"></div>

<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
<p>Hello world</p>
{% endblock %}
