{% extends "website/main.html" %}
{% load static %}
{% load pokyfriends_tags %}

{% block meta %}{% meta_tags title="Pokyfriends - Landing" description="Dr. Dos's personal website. Featuring an archive of programming work, a gallery of artwork, and a personal blog. Let's be Pokyfriends!" %}{% endblock %}

{% block css %}
<style>
#poky-logo
{
    margin:auto;
    text-align:center;
}
</style>
{% endblock %}

{% block content %}
<div id="poky-logo"><img src="{% static 'global/pokyfriends-logo.png' %}"></div>

<p>Let's be Pokyfriends</p>
{% endblock %}
