{% extends "website/main.html" %}
{% load static %}
{% load pokyfriends_tags %}

{% block meta %}{% meta_tags description="A chronological list of games by Dr. Dos" %}{% endblock %}


{% block content %}
<h1>{{title}}</h1>

{% for project in projects %}
<div class="project-block{% if not project.preview_image %} no-preview{% endif %}">
    {% if project.preview_image %}<img src="{% static 'og_image/'|add:project.preview_image %}">{% endif %}
    <h2>{% if project.show_date %}({% if project.date.year == 1970 %}????{% else %}{{project.date.year}}{% endif %}){% endif %} <a href="{{project.get_absolute_url}}"{% if project.external_url %} target="_blank"{% endif %}>{{project.title}}</a></h2>
    <div>{{project.description}}</div>
</div>
{% endfor %}

{% endblock %}
