body { margin:1ch; background-color:#DDD; }

.bookmarks
{
    font-family:monospace;
}

h1
{
    font-size:18pt;
    text-align:left;
    width:100%;
    margin:0px;
    background-color:#6AF;
    padding-left:1ch;
}
#phys-path { font-size:12pt; }

.faux-table
{
    border:1px solid #000;
    margin:1ch;
    font-family:monospace;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.fr {display: flex; flex-wrap:wrap; justify-content:center; align-items:center; }
.fr > div {flex: 1; padding:0.25ch 0.5ch 0.25ch 0.5ch; }

.fh { font-variant-caps:small-caps; height:28px;}

.faux-table.cycle-bg > .fr:nth-child(odd) { background-color:#EFF; }
.faux-table.cycle-bg > .fr:nth-child(even) { background-color:#AFF; }
.faux-table.cycle-bg > .fr.directory-row:nth-child(odd) { background-color:#FEF; }
.faux-table.cycle-bg > .fr.directory-row:nth-child(even) { background-color:#FAF; }

.fr > div.basename { flex:4; }
.fr > div.mtime { flex:4 0; }
.fr > div.size { flex:1 0; }
.fr > div.ops { flex:1 0; }

#wrapper-upload-form
{
    margin:1ch;
    background:#FFA;
    border:1px solid #000;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
}

.fr.header-row { order:-99; }
.fr.directory-row { order:-1; }
.fr.directory-row > div { min-width:100%; }

#upload-form
{
    font-size:12pt;
}

#upload-form > div {
    flex:1 0 100%;
    display:grid;
    grid-template-areas:"label field"
    "help field"
    "error field";
    column-gap:5px;
    grid-template-columns: 60% 40%;
    border-bottom:1px dotted #000;
    margin:2px;
}

#upload-form label { grid-area: label; font-weight:bold; }
#upload-form input, #upload-form select { grid-area: field; align-self:start; }
#upload-form .helptext { grid-area: help; font-size: 10pt; width:100%; max-width:300px;}

#upload-form label { display:flex; flex:1 0 100%; justify-content:space-between; }

.upload-area {
    border:5px dashed #000;
    width:360px;
    height:250px;
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    font-size:10pt;
    text-align:center;
}
.upload-area.dragging
{
    border:5px solid #8F8;
    background-color:#AFA;
}

.upload-area img { height:180px; }
.upload-area > div { height:20px; border-top:1px dotted #000; margin-top:2px; }

@media (max-width:799px) {
    .fr { flex-direction:column; }
    .fr > div.ops { text-align:right; }
    #upload-form .helptext { width:100%; max-width:120px;}
}

#form-details-wrapper summary {
        background-color:#FAF;
        font-size:24pt;
        padding:10px;
        text-align:center;
}
