cdosblog/static/cdosblog/dr-dos/*
cdosgallery/static/cdosgallery/art/*
website/static/art/stickers/*/*
website/static/global/pokedex-media/


backups
private
temp
tmp
venv
wip
private*
test-*

DEV
PROD

*.conf
*.exe
*.pyc
*.[zZ][iI][pP]
