{% extends "cdosblog/blog-main.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}{% if title %}{{title}} - {% endif %}C:\Dos\Blog\{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cdosblog/blog.css'  %}?{{TS}}">
{% endblock %}

{% block blog_content %}
{% if request.user.is_staff %}{% include "cdosblog/subtemplates/staff-block.html" %}{% endif %}
{% for post in post_list %}
<div class="block">
    {% render_post post %}
</div>
{% endfor %}
{% endblock %}
