{% extends "cdosblog/blog-main.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}{% if post.title %}{{post.title}} - {% endif %} C:\Dos\Blog\{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cdosblog/blog.css'  %}?{{TS}}">
<link rel="stylesheet" type="text/css" href="{% static 'cdosblog/forms.css'  %}?{{TS}}">
{% endblock %}

{% block blog_content %}
<div class="block">
<form method="POST" class="blog-form">
    {% csrf_token %}
    {{form.as_div}}
    <input type="submit" value="Save Blog Post">
</form>
</div>
{% endblock %}

{% block scripts %}
<script>
var ICON_DATA = [
{% for icon in icons %}    { "pk": {{icon.pk}}, "url": "{{icon.get_absolute_url}}", },
{% endfor %}];
</script>
<script src="{% static 'cdosblog/blog.js' %}"></script>
<script src="{% static 'cdosblog/owner.js' %}"></script>
{% endblock %}
