{% extends "cdosblog/blog-main.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}{% if title %}{{title}}{% endif %} - C:\Dos\Blog\{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cdosblog/blog.css'  %}?{{TS}}">
{% endblock %}

{% block header %}<h1>DATES</h1>{% endblock %}

{% block blog_content %}
<div class="block">
<ul id="year-list">
    {% for year in dates %}
    <li><a href="/blog/date/{{year}}/">{{year}}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}
