{% extends "pokyfriends_web/main.html" %}
{% load static %}
{% block title %} - Contact{% endblock %}

{% block content %}
<h1>Contact</h1>

<h2>Twitter - <a href="https://twitter.com/dosmeow" target="_blank">@dosmeow</a></h2>
<p>If you want to contact me, the best way to ensure I actually see it in a reasonable timeframe is either DMing or just tweeting at me.</p>

<h2>Mastodon - <a href="https://chitter.xyz/@sugar" target="_blank">@sugar@chitter.xyz</a></h2>
<p>I can also be found on the Mastodon instance <a href="https://chitter.xyz" target="_blank">Chitter</a>. I visit this site a far more healthy amount that Twitter meaning I might take a day or even two before seeing
a message sent to me there.</p>

<h2>E-Mail - doctordos@gmail.com</h2>
<p>If you must, I can be sent a plain old e-mail. Note that I don't check my inbox all that often.</p>

<h2>Others</h2>
<p>I'm also on other services, but I'd rather not be contacted by strangers who I haven't interacted with elsewhere first.</p>
{% endblock %}
