{% extends "pokyfriends_web/main.html" %}
{% load static %}
{% block title %} - Support{% endblock %}

{% block content %}
<h1>Support</h1>

<p>That is to say, "supporting me", and not support for the projects hosted on this site.</p>

<h2>Patreon - <a href="https://patreon.com/worldsofzzt" target="_blank">Worlds of ZZT</a></h2>
<p>The best way to support me is to pledge to the Worlds of ZZT Patreon.

<p>Although the Patreon and its goals are directly tied to ZZT related things, the more I can earn from the Patreon the fewer hours I can work
at a traditional day job and spend that time creating things, ZZT and otherwise. But if you are supporting because you like my non-ZZT creations,
let me know so I can feel better about working on code doodles and more non-ZZT things.</p>

<h2>Paypal - <a href="https://paypal.me/drdos" target="_blank">Paypal.me</a></h2>

<p>A few folks who prefer to not use Patreon will sometimes just send me money! This is nice of them. You can simply donate some dollars this way.</p>
{% endblock %}
