{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/global/favicon.png">
<link rel="stylesheet" type="text/css" href="{% static 'global/style.css'  %}?{{TS}}">
<link rel="stylesheet" type="text/css" href="{% static 'cdosupload/cdosupload.css'  %}?{{TS}}">
<title>Pokyfriends - {% block title %}{{title}}{% endblock %}</title>
<script src="{% static 'global/js/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
<div class="bookmarks">&bull; {% for k, v in available_directories.items %}<a href="?dir={{k}}">/{{k}}/</a> &bull; {% endfor %}</div>

<div id="wrapper-upload-form">
    <form method="POST" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    {{form.as_div}}
    <label><input type="submit" value="Upload File"></label>
    </form>
    <div class="upload-area">
        <img id="upload-preview" src="">
        <div id="upload-filename">-</div>
        <div id="upload-filesize">-</div>
    </div>
</div>

<div class="faux-table cycle-bg">
    <div class="fr header-row">
        <h1><div id="http-path">{{root_url}}</div><div id="phys-path">{{path}}</div></h1>
    </div>
    <div class="fr header-row">
        <div class="fh basename">Filename <a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=name">🞁</a><a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=-name">🞃</a></div>
        <div class="fh mtime">Mod. Date <a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=date">🞁</a><a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=-date">🞃</a></div>
        <div class="fh size">Filesize <a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=size">🞁</a><a href="?dir={{dir}}&subdir={{request.GET.subdir}}&sort=-size">🞃</a></div>
        {% if request.user.is_staff %}<div class="fh ops">Ops.</div>{% endif %}
    </div>
    <div class="fr directory-row"><div class="basename"><a href="?">Top Level</a></div></div>
    {% if subdir %}<div class="fr directory-row"><div class="basename"><a href="?dir={{dir}}&subdir={{parent_dir|default:''}}">..</a></div></div>{% endif %}
    {% for file in files %}
    {% if file.directory %}
    <div class="fr directory-row"><div class="basename"><a href="?dir={{dir}}&subdir={% if request.GET.subdir %}{{request.GET.subdir}}/{% endif %}{{file.basename}}">{{file.basename}}/</a></div></div>
    {% else %}
    <div class="fr file-row">
        <div class="basename"><a href="{{file.url}}" target="_blank">{{file.basename}}</a></div>
        <div class="mtime" title="{{file.stat.st_mtime}}">{{file.mtime}}</div>
        <div class="size" title="{{file.stat.st_size}}">{{file.stat.st_size|filesizeformat}}</div>
        {% if request.user.is_staff %}<div class="ops">
            <details>
                <summary>[DELETE]</summary>
            <a href="?dir={{dir}}&subdir={% if request.GET.subdir %}{{request.GET.subdir}}{% endif %}&fname={{file.basename}}&op=del">[CONFIRM]</a><br>
            </details>
        </div>{% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% block scripts %}
<!--<script src="/static/cdosupload/cdosupload.js" type="module"></script>-->
<script type="module">
import { Uploader, filesize_format } from "/static/cdosupload/cdosupload.js";
let overview = {"slugify": "Slugify the filename 'Cool Artwork #20.jpg' -> 'cool-artwork-20.jpg'"};
$(document).ready(function (){
    $("#id_post_processing option").mouseover(function (){
        let key = $(this).val();
        $("#id_post_processing_helptext").html(overview[key] || ("No help available for: " + key));
    });

    let uploader = new Uploader(".upload-area", "#id_upload");
    uploader.process_file = function(file) {
        if (file.type.slice(0,6) == "image/")
            $("#upload-preview").attr("src", URL.createObjectURL(file));
        else
            $("#upload-preview").attr("src", "/static/cdosupload/file.svg");
        $("#upload-filename").text(file.name);
        $("#upload-filesize").text(filesize_format(file.size));
        console.log(file);
    }
});
</script>
{% endblock %}

</body>

</html>
