{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Doug Tudeap in: The Ore Gone Trail{% endblock %}

{% block zeta_config %}{% zeta_launcher "ORE-GONE-MUSEUM.zip" "pokyfriends-zzt-ORE-GONE-MUSEUM" "ORE-GONE.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Doug Tudeap in: The Ore Gone Trail (2021)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/ore-gone-museum/" target="_blank">Doug Tudeap in: The Ore Gone Trail</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/doug-tudeap-in-the-ore-gone-trail" target="_blank">Doug Tudeap in: The Ore Gone Trail</a> on Itch.io</li>
</ul>
{% endblock %}
