{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Project dQw4w9Wg{% endblock %}

{% block zeta_config %}{% zeta_launcher "dQw4w9Wg.zip" "pokyfriends-zzt-dQw4w9Wg" "dQw4w9Wg.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Project dQw4w9Wg (2021)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/dqw4w9wg/" target="_blank">Project dQw4w9Wg</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/project-dqw4w9wg" target="_blank">Project dQw4w9Wg</a> on Itch.io</li>
</ul>
{% endblock %}
