{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Ruins of ZZT{% endblock %}

{% block zeta_config %}{% zeta_launcher "RUINS.zip" "pokyfriends-zzt-ruins" "RUINS.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Ruins of ZZT (2016)</h2>

<p><i>Ruins of ZZT</i> was a game I created in 2016 as a swansong to ZZT. After 25 years, ZZT seemed to be over, yet little did I realize this game would mark the start of a renewed interested in creating games with ZZT that continues to this day.</p>

<p>In <i>Ruins</i>, players take on the role of the unnamed protagonist of the original ZZT worlds, delving into the ruins for one farewell adventure. The game is loosely styled after those original worlds, focused on collecting purple keys, fighting built-in creatures, and solving slider puzzles as opposed to the more complex gameplay seen in later games.</p>

<p>A sword engine provides a new kind of challenge for players, re-contextualizing the player's gun and turning it into a short range attack that forces players to get up close to enemies they'd prefer to keep their distance from.</p>

<p>The game is short and while targeted at longtime ZZTers, should be easily enjoyed by newcomers as well.</p>

<p>At the time, I was quite satisfied with the release. Now (2024), while I still have fond memories of it, it feels almost slapdash in its construction, feeling less like an authentic take on the original games and more like a weird mix of more complex later worlds while also being a bit uninspired in its action screens. To me, it doesn't accurately capture the style of those early worlds the way I thought it did, which I suppose is what happens when you then spend the next eight years playing multiple ZZT worlds each week and getting a far more nuanced feel for what was doing what, when it was being done, and how cohesive it all is.</p>

<p>Play it anyway though! It's still enjoyable.</p>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/ruins/" target="_blank">Ruins of ZZT</a> on the Museum of ZZT</li>
    <li><a href="https://www.youtube.com/watch?v=IIm_fcfnj6s" target="_blank">Stumbling through Ruins of ZZT</a> - A commentated playthrough video by longtime ZZTer David Newton.</li>
</ul>
{% endblock %}
