{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Snoozefest{% endblock %}

{% block zeta_config %}{% zeta_launcher "snoozefest.zip" "pokyfriends-zzt-snoozefest" "SNOOZE.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Snoozefest (2023)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/snoozefest/" target="_blank">Snoozefest</a> on the Museum of ZZT</li>
    <li><a href="https://museumofzzt.com/file/view/snoozefest/" target="_blank">Snoozefest</a> on Itch.io</li>
</ul>
{% endblock %}
