{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Super Hang Up{% endblock %}

{% block zeta_config %}{% zeta_launcher "super-hang-up.zip" "pokyfriends-zzt-super-hang-up" "SHU.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Super Hang Up (2022)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/super-hang-up/" target="_blank">Super Hang Up</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/super-hang-up" target="_blank">Super Hang Up</a> on Itch.io</li>
</ul>
{% endblock %}
