{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Tales of Adventure: The Treasure of Captain Cutlass{% endblock %}

{% block zeta_config %}{% zeta_launcher "CUTLASS.zip" "pokyfriends-zzt-cutlass" "CUTLASS.ZZT" %}{% endblock %}

{% block world_overview %}
<h2>Tales of Adventure: The Treasure of Captain Cutlass (2023)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/cutlass/" target="_blank">Tales of Adventure: The Treasure of Captain Cutlass</a> on the Museum of ZZT</li>
    <li><a href="https://museumofzzt.com/file/view/cutlass-project-dump/" target="_blank">Captain Cutlass Project Dump</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/tales-of-adventure-the-treasure-of-captain-cutlass" target="_blank">Tales of Adventure: The Treasure of Captain Cutlass</a> on Itch.io</a></li>
</ul>
{% endblock %}
