{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Wake Up and Save the World{% endblock %}

{% block zeta_config %}{% zeta_launcher "wuastw.zip" "pokyfriends-zzt-wuastw" "WUASTW.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Wake Up and Save the World (2020)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/wuastw/" target="_blank">Wake Up and Save the World</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/wake-up-and-save-the-world" target="_blank">Wake Up and Save the World</a> on Itch.io</li>
</ul>
{% endblock %}
