{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Wake Up and Unlock the Door{% endblock %}

{% block zeta_config %}{% zeta_launcher "WUAUTD.zip" "pokyfriends-zzt-wuautd" "DIALAKEY.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Wake Up and Unlock the Door (2021)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/wuautd/" target="_blank">Wake Up and Unlock the Door</a> on the Museum of ZZT</li>
</ul>
{% endblock %}
