{% extends "website/game/zzt-base.html" %}
{% load pokyfriends_tags %}

{% block title %}Zee!{% endblock %}

{% block zeta_config %}{% zeta_launcher "zee-registered.zip" "pokyfriends-zzt-zee-registered" "ZEE.zzt" %}{% endblock %}

{% block world_overview %}
<h2>Zee! (2021)</h2>
{% endblock %}

{% block links %}
<ul>
    <li><a href="https://museumofzzt.com/file/view/zee-registered/" target="_blank">Zee! - Registered</a> on the Museum of ZZT</li>
    <li><a href="https://museumofzzt.com/file/view/zee-free/" target="_blank">Zee! - Free Edition</a> on the Museum of ZZT</li>
    <li><a href="https://dr-dos.itch.io/zee" target="_blank">Zee!</a> on Itch.io</li>
</ul>
{% endblock %}
