{% extends "website/main.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'game/zzt/style.css'  %}?{{TS}}">{% endblock %}

{% block content %}
<div id="zeta-wrapper">
    <canvas id="zeta_canvas" width="640" height="350"></canvas>
</div>

{% block world_overview %}{% endblock %}

{% block links %}{% endblock %}

<p class="c"><sub><a href="https://zeta.asie.pl/" target="_blank">Zeta</a> created and maintained by asie</sub></p>
{% endblock %}

{% block scripts %}
{% block zeta_config %}{% endblock %}
{% endblock %}
