{% extends "website/main.html" %}
{% load static %}

{% block header %}<h1>Stickers</h1>{% endblock %}
{% block title %}Stickers{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'art/stickers/stickers.css'  %}?{{TS}}">{% endblock %}

{% block content %}
<h1>Telegram Stickers</h1>
<p>Commissioned for, gifted to, or created by me.</p>

<ul>
    <li><a href="#bloodsbane">Sugar Meow Pack</a></li>
    <li><a href="#kaittycat">Kaittycat Sugar</a></li>
    <li><a href="#hiddensoundtest">Sugar PMD</a></li>
    <li><a href="#pikachu-meets-the-press">Pikachu Meets the Press</a></li>
</ul>

<div class="pack" id="bloodsbane">
    <div class="pack-header">
    <h2>Sugar Meow Pack</h2>
    <div class="author">Created by: <a href="https://www.patreon.com/bloodsbane/overview" target="_blank">Bloodsbane</a></div>
    <div class="download"><a href="https://t.me/addstickers/sugarmeowpack" target="_blank">Add Sticker Pack</a></div>
    </div>

<div class="sticker">
    <img src="{% static 'art/stickers/bloodsbane/thumbsup.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/bloodsbane/hfive.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/bloodsbane/typing.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/bloodsbane/sleeping.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/bloodsbane/gagged.png' %}"><br>
</div>
</div>

<div class="pack" id="kaittycat">
    <div class="pack-header">
    <h2>Kaittycat Sugar</h2>
    <div class="author">Created by: <a href="https://www.patreon.com/Kaittycat/overview" target="_blank">Kaittycat</a></div>
    <div class="download"><a href="https://t.me/addstickers/kt_sugar" target="_blank">Add Sticker Pack</a></div>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/blush.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/confused.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/hahaha.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/iiam.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/iiamtext.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/shrug.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/sparkles.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/sweatdrop.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/this.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/what.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/zzz.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/kaittycat/credits.png' %}"><br>
</div>

</div>

<div class="pack" id="hiddensoundtest">
    <div class="pack-header">
    <h2>Sugar PMD</h2>
    <div class="author">Created by: <a href="https://twitter.com/hiddensoundtest" target="_blank">HiddenSoundTest</a></div>
    <div class="download"><a href="https://t.me/addstickers/SugarPMD" target="_blank">Add Sticker Pack</a></div>
    </div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG1.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG2.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG3.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG4.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG5.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG6.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG7.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG8.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG9.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG10.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG11.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG12.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG13.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG14.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG15.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pmdsugar/SugarMeowth_NoBG16.png' %}"><br>
</div>

</div>

<div class="pack" id="pikachu-meets-the-press">
    <div class="pack-header">
    <h2>Pikachu Meets the Press</h2>
    <div class="author">Created from: <a href="https://bulbapedia.bulbagarden.net/wiki/Pikachu_Meets_the_Press" target="_blank">Pikachu Meets the Press</a></div>
    <div class="download"><a href="https://t.me/addstickers/PkmnComic" target="_blank">Add Sticker Pack</a></div>
    </div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/bulba-draw.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/bulba-rolleyes.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/char-curtains.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/char-fire.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/clef-joy.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/clef-nervous.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/clef-presents.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/clef-shrink.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/ditto-chu.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/ditto-smile.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-annoyed.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-composing.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-draw.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-frustrated.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-grump.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-notebook.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-oh.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-smile.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-song.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/jiggly-wink.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-aloof.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-death.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-draw.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-grump.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-idea.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-look.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-swing.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pika-upset.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pikachu-ash.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pikachu-costume.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pikachu-disappoint.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/pikachu.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/psy-headache.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/psyduck-yell.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/squirtle-dead.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/squirtle-dumbfounded.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/squirtle-gesture.png' %}"><br>
</div>

<div class="sticker">
    <img src="{% static 'art/stickers/pkmncomic/squirtle-ohno.png' %}"><br>
</div>

</div>
{% endblock %}
