{% extends "website/main.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h2>

<p>E-Mail: <span class="mono">doctordos@gmail.com</span></p>

<p>Mastodon: <a href="https://chitter.xyz/@sugar" target="_blank" class="mono">@Sugar@chitter.xyz</a></p>

<p>E-Mail is preferred for anything important, sensitive, or worth keeping a record of, though I do not check it all that frequently. Feel free to send a message on another service to make sure I see your message quickly.</p>
{% endblock %}
