{% extends "website/main.html" %}

{% block title %}Credits{% endblock %}

{% block content %}
<h1>Credits</h1>

<h2>Code:</h2>
<ul>
    <li>Dr. Dos</li>
</ul>

<h2>Media:</h2>
<ul>
    <li>Favicon - Love Ball from Pokémon Diamond/Pearl</li>
    <li>Sugar Icon - Buyo</li>
    <li><a href="https://www.toptal.com/designers/subtlepatterns/floor-tile-pattern/" target="_blank">Floor Tile Pattern</a> - The UX Studio</li>
    <li>Pokyfriends Logo - It's a <a href="https://bootlegtees.bigcartel.com/product/poky-friends" target="_blank">bootleg T-Shirt</a> found in a number of places so uh, good question. Would love to know.</li>
</ul>

<h2>Fonts:</h2>
<ul>
    <li><a href="https://fonts.google.com/specimen/Kanit" target="_blank">Kanit</a> - Designed by Cadson Demak</li>
</ul>

<h2>Libraries</h2>
<ul>
    <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
    <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
</ul>
{% endblock %}
