{% extends "website/main.html" %}

{% block title %}Links{% endblock %}

{% block content %}
<h1>Elsewhere</h1>

<p>Other places you can find me:</p>

<ul>
    <li>Mastodon</li>
    <ul>
        <li><a href="https://chitter.xyz/@sugar" target="_blank">@sugar@chitter.xyz</a></li>
        <ul><li>The only social media I use with any regularlity.</li></ul>
    </ul>
    <li>YouTube</li>
    <ul>
            <li><a href="https://youtube.com/@DoctorDos0016" target="_blank">@DoctorDos0016</a></li>
            <li><a href="https://youtube.com/@WorldsOfZZT" target="_blank">@WorldsOfZZT</a></li>
            <ul><li>Videos both personal and ZZT related</li></ul>
    </ul>
    <li>Twitch</li>
    <ul>
        <li><a href="https://twitch.tv/dosmeow" target="_blank">@Dosmeow</a></li>
        <li><a href="https://twitch.tv/worldsofzzt" target="_blank">@WorldsOfZZT</a></li>
        <ul><li>Streams both personal and ZZT related.</li></ul>
    </ul>
    <li>Steam</li>
    <ul>
        <li><a href="https://steamcommunity.com/id/sugarmeowth" target="_blank">Sugar Meowth</a></li>
        <ul><li>Gamer cat. I have no interest in trading or selling anything here.</li></ul>
    </ul>

    <li>Weasyl</li>
    <ul>
        <li><a href="https://www.weasyl.com/~sugarmeowth" target="_blank">Sugar Meowth</a></li>
        <ul><li>Older gallery of art I have received over the years. I stopped updating it once the gallery on this site was complete.</li></ul>
    </ul>

    <li>GitHub</li>
    <ul>
        <li><a href="https://github.com/DrDos0016" target="_blank">DrDos0016</a></li>
        <ul><li>Code for sites like this. One day I'll use a different service or self-host my own repositories.</li></ul>
    </ul>
</ul>
{% endblock %}
