{% extends "website/main.html" %}

{% block title %}Cool Websites{% endblock %}

{% block css %}
<style>
.link + .link { border-top: 2px dashed; margin-top:16px; padding-top:8px; }
.link a { font-weight:bold; }
</style>
{% endblock %}

{% block content %}
<h1>Cool Websites</h1>

<div class="link"><a href="http://hellowordl.net" target="_blank">hello wordl</a> - Freely available wordle clone.</div>
<div class="link"><a href="http://joshreads.com" target="_blank">The Comics Curmudgeon</a> - I've been reading this guy for like two decades now. Just poking fun at newspaper comics. Be warned, read them for too long and you'll begin to appreciate them!!!</div>

{% endblock %}
