{% extends "cdosgallery/gallery-main.html" %}
{% load static %}
{% load gallery_tags %}

{% block title %}{% if title %}{{title}} - {% endif %}Gallery{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cdosgallery/gallery.css'  %}?{{TS}}">
<style>
form
{
    margin:auto;
    max-width:500px;
    text-align:center;
    border:5px solid var(--border);
    padding:5px;
    background:var(--hot-pink);
}

form div
{
    margin-top:5px;
}

form label { display: block; text-align:left; }

p { text-align:center }
</style>
{% endblock %}

{% block header %}<h1>Gallery</h1>{% endblock %}

{% block gallery_content %}
<form method="POST" action="{% url 'cdg_explicit_settings_submit' %}">
    {% csrf_token %}
    <div><b>Explicit Media Settings</b></div>
    <input type="hidden" name="next" value="{{request.GET.next}}">
    <label><input type="radio" name="explicit_confirmation" value="confirmed" {% if request.session.show_explicit_media %}checked{% endif %}> I am of age and wish to view explicit media.</label>
    <label><input type="radio" name="explicit_confirmation" value="denied" {% if not request.session.show_explicit_media %}checked{% endif %}> I do not wish to view explicit media.</label>
    <div>
        <input type="submit" value="Confirm Settings">
    </div>
</form>
{% endblock %}
