{% extends "website/main.html" %}
{% load static %}
{% load gallery_tags %}

{% block title %}{% if title %}{{title}} - {% endif %}Gallery{% endblock %}
{% block header %}<h1>Gallery</h1>{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'cdosgallery/gallery.css'  %}?{{TS}}">{% endblock %}

{% block content %}
    {% block gallery_nav_top %}{% paginator_block page_obj %}{% endblock %}

    {% block gallery_content %}
    <p>{% lorem 9 %}</p>
    {% endblock %}

    {% block gallery_nav_bottom %}{% paginator_block page_obj %}{% endblock %}
    <div class="c mono" style="font-size:8pt;margin-top:16px;">Mature content is currently: <a href="{% url 'cdg_explicit_settings' %}">{% if request.session.show_explicit_media %}Revealed{% else %}Hidden{% endif %}</a></div>
{% endblock %}
