main
{
    border:0px;
    background-color:var(--pale-blue);
}

.rss-logo { width:16px; height:16px; }

.block
{
    border:5px solid var(--border);
    background-color: var(--lavender);
}

.block + .block { margin-top:5px; }

.pagination
{
    font-family:monospace;
    text-align:center;
}

.blog-post
{
    padding:5px;
}

.blog-post h2 {
    margin:0px;
    line-height:18pt;
}

.blog-post h2 a { text-decoration: none; }

.blog-post header {
    display:grid;
    grid-template-areas:
    "heading heading"
    "summary summary"
    "icon meta";
    grid-template-rows: auto auto;
    grid-template-columns: 100px auto;
}

.blog-post header:has(.post-preview-image) {
    grid-template-areas:
    "heading heading thumb"
    "summary summary thumb"
    "icon meta thumb";
    grid-template-rows: auto auto auto;
    grid-template-columns: 100px auto 325px;
}

@media (max-width:799px) {
    .blog-post header
    {
        grid-template-areas:
        "heading heading"
        "summary summary"
        "icon thumb"
        "meta meta";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100px 1fr;
    }
}

.blog-post h2 { grid-area: heading; }
.blog-post .post-summary { grid-area: summary; }
.blog-post .post-preview-image { grid-area: thumb; }
.blog-post .post-icon { grid-area: icon; }
.blog-post .post-meta-info { grid-area: meta; }

.blog-post header.bordered { border-bottom: 5px double #000; padding-bottom:3px; }

.blog-post .post-preview-image { text-align:center; display:flex; justify-content:center; padding-left:5px;}
.blog-post .post-preview-image img { max-width:320px; max-height:180px; border:1px solid #000; }
@media (max-width:799px) {
    .blog-post .post-preview-image img { max-width:70%; }
    .blog-post { font-size:smaller; }
}


.blog-post .post-summary { font-style: oblique; border-bottom:5px double #000; margin-bottom:5px; }
.blog-post .post-author { font-family: monospace; }
.blog-post .post-date { font-family: monospace; }
.blog-post .post-tags { font-family: monospace; }
.blog-post .post-admin { font-family: monospace; }
.blog-post .post-content-warnings { font-family: monospace; }

.blog-post .label { display:inline-block; width:10ch;}
.blog-post .label + div { flex:1; }

.blog-post .post-meta-lower { display: flex; }
.blog-post .post-meta-info { display: flex; flex-direction:column; font-size: smaller; }
.blog-post .post-meta-info > div { display: flex; border-bottom:1px dashed var(--border); padding:2px 5px 2px 5px; }

.blog-post .post-icon { width:100px; height:100px; flex: 0 0 100px; display:flex; flex-direction: column; justify-content:center;}
.blog-post .post-icon img { width:100%; border:1px solid #000; }

.blog-post .post-content { padding-top:15px; max-width:750px; overflow:auto; margin:auto; }

.blog-post footer {
    max-width:750px; margin:auto; border-top: 1px dashed var(--border); padding-top:2px;
    display: grid;
    grid-template-areas: "mood likes"
    "music likes";
    grid-template-columns:1fr auto;
    font-size:smaller;
}

.current-mood { grid-area:mood; }
.current-music { grid-area:music; }

#year-list {
    list-style-type: "📅";
}
#year-list li { padding-left:10px; height:3ch; font-family:monospace; }


/* ZZT Specific */
.zzt-scroll
{
    background-image:url("/static/cdosblog/zzt-scroll.png");
    max-width:392px;
    height:266px;
    font-family:monospace;
    font-size:14px;
    line-height:14px;
    text-align:left;
    color:#FFFF55;
    margin:auto;
    margin-bottom:0.25em;
}

.zzt-scroll .name
{
    padding:14px 0px 14px 32px;
    text-align:center;
    width:360px;
}

.zzt-scroll .content
{
    padding-left:32px;
    width:360px; /*336*/
    height:210px;
    overflow-y:scroll;
    overflow-x:none;
}

.zzt-scroll .white
{
    color:#FFFFFF;
}

.zzt-scroll .hypertext
{
background-repeat: no-repeat;
background-position:16px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAAAQ0lEQVQoU5WMQQoAIAzD9kn//5SqSNmEOPAQBk1YSGrBsRIa64AwJ2iiDB7RHUDIgfn/UITJAOTmBCAMjhUcKzgmigkcKlhhXdQ3uAAAAABJRU5ErkJggg==);
color:white;
padding-left:40px;
}
/* End ZZT Specific */

/* Likes Widget */
.likes-widget
{
    text-align:left;
    border:1px solid #000;
    border-radius:4px;
    font-size:10pt;
    vertical-align:middle;
    padding:2px 4px 2px 4px;
    display:inline-block;
    cursor:pointer;
    width:fit-content;
}

.likes-count
{
    display:inline-block;
    min-width:3ch;
    text-align:right;
}

.likes-widget:not(.liked) img { filter: grayscale(1); }
.likes-widget:hover img { filter: grayscale(0); }

footer .post-likes { justify-self:end; }
/* End Likes Widget */

/* Image Overlay Widget */
#image-overlay
{
    background-color:#555;
    background-image:url("/static/cdosblog/floor-tile.png");
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    max-width:100vw;
    max-height:100vh;
    margin:0px;
    z-index:1000;
}

#image-overlay .wrapper { height:90vh; display:flex; justify-content:center; align-items:center; padding:10px;}
#image-overlay .wrapper img { position:relative; max-height:100%; max-width:100%; }
#image-overlay figcaption { height: 5vh; background:#111; color:#DDD; font-size:smaller; font-family:monospace; text-align:center; }
#image-overlay footer { height: 5vh; width:100vw; text-align:center; margin:0px; max-width:100vw; display:flex; justify-content:space-around; align-items:center;}
#image-overlay footer button { margin:auto; width:300px; max-width:25vw; }
#image-overlay footer div { width:300px; max-width:25vw; text-align:center; }
#image-overlay footer a { color:#FFD700;}

.thumb-link { max-width:fit-content; border:2px solid var(--border); line-height:0; margin:5px; }
.thumb-link.block { display:block; background-color:initial; }/* Overlaps main site blocks */
.thumb-link.inline-block { display:inline block; }
.thumb-link.inline { display:inline; }

body.image-overlay-open
{
    max-height:100vh;
    overflow:hidden;
}
/* End Image Overlay Widget */
.cw > summary
{
    font-weight:bold;
    margin:auto;
    list-style: none;
    width:50vw;
    max-width:700px;
    border:5px dashed #000;
    background-color:#0CF;
    padding:5px 20px 5px 20px;
    text-align:center;
    cursor:pointer;
    margin-bottom:10px;
}
.cw[open] > summary { display:none; }
