.blog-form
{
}

.blog-form > div {
    display:flex;
    flex-wrap:wrap;
    padding:5px;
    justify-content:flex-end;
}

.blog-form label
{
    flex:0 0 25%;
    font-family:monospace;
}

.blog-form > div input, .blog-form > div select, .blog-form > div textarea, .blog-form > div > .custom-widget
{
    flex:0 0 75%;
    margin-bottom:10px;
}

.blog-form > input[type=submit] { display:flex; margin:auto; margin-bottom:2ch; text-align:center; width:80%;}

.blog-tags-widget .scrolling-list { font-size:10pt; }
.tag-shortcut { border-bottom: 1px dashed #000; padding:2px; cursor:pointer; color: #00F;}
.tag-shortcut:hover { background-color: var(--pale-blue); }

.blog-form .helptext
{
    flex:0 0 75%;
    font-size:10pt;
    display:block;
}

@media (max-width:640px) {
    .blog-form {font-size:10pt;}
    .blog-form label { flex: 1 0 100%; }
    .blog-form .helptext { max-width:100%; }
}

.blog-form textarea[name=css] { height:25px;}
.blog-form textarea[name=css]::after { content:"- Click to expand - " }
.blog-form textarea[name=css]:focus { height:150px; content:""; }
.blog-form textarea[name=css]:focus::after { content:""; }

img[name=icon-image] { border: 5px solid #000; }
img[name=icon-image].selected { border: 5px solid var(--pale-blue); }
img[name=icon-image]:hover:not(.selected) { border: 5px solid var(--dark-blue); }

.blog-tags-widget .scrolling-list {
max-height:100px;
overflow:auto;
border:1px solid #000;
}

.scrolling-list.flex-column
{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.flex-form
{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    max-width:750px;
    background:red;
}

.flex-form label
{
    flex:1 0 100%;
    display:flex;
    justify-content:space-betweenn;
    border-bottom:1px dotted #000;
    background-color:#BBB;
    padding:4px;
}

.flex-form label > div:first-child { flex:1; font-weight:bold;}
.flex-form label > div { flex:2; }
.flex-form textarea { width:95%; height:100px; }

.comment-display { width:80%; max-width:500px; height:120px; background:#FFBBBB; font-size:14pt; }
