{% extends "website/main.html" %}
{% load static %}

{% block title %}Street Fighter 6 Title Generator{% endblock %}

{% block css %}
<style>
main { max-width:1400px; }
#frame
{
    width:1280px;
    height:720px;
    margin:auto;
    margin-bottom:10px;
    border:5px solid #000;
    background-size:1280px 720px;
    display:flex;
    justify-content:flex-end;
    overflow:hidden;
}

#frame.dragging
{
    border:5px solid #0F0;
}

#frame img
{
    max-width:initial;
    max-height:720px;
}

#frame #text
{
    position:absolute;
    z-index:2;
    width:1280px;
    height:720px;
}

#frame #challenger
{
    position:relative;
    top:0px;
    left:0px;
}

</style>
{% endblock %}

{% block content %}
<div id="frame" class="upload-area">
    <img id="text" src="/static/doodle/here-comes-a-new-challenger/text-1.png">
    <img id="challenger">
</div>
<div id="controls">
    <label> Background:
        <select name="bg">
            <option value="1">Default</option>
            <option value="2">Hearts</option>
        </select>
    </label>
    <input id="file-upload-widget" type="file" accept="image/*" style="display:none;">
    <label> Position:
        <input type="range" min="-500" max="500" value="0" id="x-offset">
    </label>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    let uploader = new Uploader(".upload-area", "#file-upload-widget");
    $("select[name=bg]").change(update_screen);
    $("#x-offset").change(update_screen);
    update_screen();
});

function update_screen() {
    let num = $("select[name=bg]").val();
    $("#frame").css("background-image", `url(/static/doodle/here-comes-a-new-challenger/bg-${num}.png)`);
    $("#challenger").css("left", $("#x-offset").val() + "px");
};

class Uploader {
    constructor(selector, input_id)
    {
        console.log("Construct", selector, input_id);
        this.selector = selector;
        this.upload_area = $(selector);
        this.input_id = input_id;
        this.dragging_css_class = "dragging";
        $(this.selector).click((f) => this.upload_from_widget() );
        $(selector).on("dragover", (e) => this.universal(e, this.dragging_css_class) );
        $(selector).on("dragleave", (e) => this.universal(e, this.dragging_css_class) );
        $(selector).on("drop", (e) => this.upload_from_drop(e));
    }

    universal(e, css_class)
    {
        // Stop event propagation, add/remove CSS class to indicate state
        console.log("Universal", css_class, e);
        e.preventDefault();
        e.stopPropagation();
        if (e.type == "dragover")
            this.upload_area.addClass(css_class);
        else
            this.upload_area.removeClass(css_class);
    }

    upload_from_widget()
    {
        console.log("Click for basic upload", this.selector, this.input_id);
        $(this.input_id).click();
    }

    upload_from_drop(e)
    {
        this.universal(e, this.dragging_css_class);
        const dt = e.originalEvent.dataTransfer;
        const file = dt.files[0];
        $(this.input_id)[0].files = dt.files;
        this.process_file(file)
    }

    process_file(file)
    {
        console.log("Processing!");
        $("#challenger").attr("src", URL.createObjectURL(file));
    }
}
</script>
{% endblock %}
</html>
